nav ul {
  background: blue;
}
.inline,
nav ul {
  color: red;
}
.a {
  color: red;
}
.a {
  color: red;
}
.c {
  color: red;
}
.c {
  color: red;
}
.e {
  color: red;
}
.e {
  color: red;
}
.e {
  color: red;
}
.bag,
.big-division,
.big-bag {
  border: 1px solid;
}
.bucket,
.big-bucket,
.some-class {
  margin: 10px;
}
.show,
.big-bag,
.big-bucket {
  display: block;
}
.big-division,
.big-bag,
.big-bucket {
  color: red;
}
.ru,
pre:hover,
.some-class,
pre:hover,
.some-class {
  top: 10;
}
pre:hover,
.some-class {
  left: 20;
}
pre:hover,
.some-class {
  left: 20;
}
.bucket tr,
.some-class {
  color: blue;
}
.some-class {
  border: 1px;
}
tr .bucket,
.some-class {
  color: blue;
}
.some-class {
  border: 1px;
}
.a.class,
.class.a,
.class > .a {
  color: blue;
}
.test,
.replacement {
  border: 1px;
}
*.class {
  color: blue;
}
.noStar {
  border: 1px;
}
link:hover:visited {
  color: blue;
}
.selector {
  border: 1px;
}
[title='identifier'],
.noQuote,
.singleQuote,
.doubleQuote {
  color: blue;
}
[title='identifier'],
.noQuote,
.singleQuote,
.doubleQuote {
  color: blue;
}
[title='identifier'],
.noQuote,
.singleQuote,
.doubleQuote {
  color: blue;
}
.noQuote {
  border: 1px;
}
.singleQuote {
  border: 1px;
}
.doubleQuote {
  border: 1px;
}
a.b.test,
.test.c,
a.b.replacement,
.replacement.c {
  color: orange;
}
.test:hover,
.replacement:hover {
  color: green;
}
.replacement {
  border: 1px;
}
.bucket,
.big-bucket,
.some-class {
  color: blue;
}
.some-class {
  border: 1px;
}
.bucket,
.big-bucket,
.some-class {
  color: blue;
}
.some-class {
  border: 1px;
}
.varib {
  color: blue;
}
.sel {
  left: 1;
}
@media print {
  .screenClass {
    left: 1;
  }
  .selector,
  .screenClass {
    color: black;
  }
}
.selector {
  color: red;
}
@media screen {
  .selector {
    color: blue;
  }
}
@media screen {
  .screenClass {
    left: 1;
  }
}
@media screen and (min-width: 1023px) {
  .selector {
    color: blue;
  }
}
@media screen {
  .selector-t,
  .topLevel {
    color: blue;
  }
}
@media screen and (min-width: 1023px) {
  .selector-t,
  .topLevel {
    color: blue;
  }
}
.topLevel {
  left: 1;
}
.alert-info,
.widget,
.alert,
.alert {
  left: 1;
}
.alert {
  top: 2;
}
.thing1 {
  display: inline-block;
  font-size: 0;
}
.thing2 {
  display: inline-block;
  font-size: 0;
}
.my-inline-block,
.thing1,
.thing2 {
  display: inline-block;
  font-size: 0;
}
li.list > a,
button.list-style {
  line-height: 20px;
}
