header {
  background-color: blue;
}
@media screen and (min-width: 1200px) {
  header {
    background-color: red;
  }
}
html.lt-ie9 header {
  background-color: red;
}
.caller {
  color: blue;
}
selector {
  left: 1;
  top: 2;
}
selector {
  color: white;
}
